.file-wrap{
	padding: 10px;
	.file-header{
		display: flex;
		justify-content: space-between;
		padding: 10px 0px;
		.file-heading{
			font-weight: 500;
		}
		buttton:disabled{
			cursor: not-allowed;
		}
	}
	
	.files-list{
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		
		.file{
			cursor: pointer;
			width: calc(25% - 30px);
			background: rgb(204, 203, 203);
			padding: 5px 10px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			span:nth-child(2){
				min-width: 20px;
			}
	
		}
	}
}